version: 2.1
orbs:
  slack: circleci/slack@3.4.2

commands:
  install_deps:
    description: Install dependencies
    steps:
      - run:
          name: Setup NPM Token
          command: |
            echo "//registry.npmjs.org/:_authToken=$NPM_TOKEN" > ~/.npmrc
      - restore_cache:
          key: deps-{{ checksum "yarn.lock" }}
      - run:
          name: Install dependencies
          command: yarn install --frozen-lockfile
      - save_cache:
          key: deps-{{ checksum "yarn.lock" }}
          paths:
            - node_modules

  lint_and_typecheck:
    description: Run ESLint and TypeScript type checking
    steps:
      - run:
          name: Lint
          command: yarn lint
      - run:
          name: Type check
          command: yarn type-check

jobs:
  build:
    docker:
      - image: cimg/node:22.22.0
    resource_class: large
    steps:
      - checkout
      - install_deps
      - lint_and_typecheck
      - run:
          name: Build
          command: yarn build
      - persist_to_workspace:
          root: .
          paths: .

  publish:
    description: Bump version and publish package to npm
    working_directory: ~/app
    docker:
      - image: cimg/node:22.22.0
    resource_class: large
    steps:
      - attach_workspace:
          at: ~/app
      - install_deps
      - run:
          name: Bump version and tag
          command: |
            mkdir ~/.ssh
            ssh-keyscan github.com >> ~/.ssh/known_hosts
            git config --global user.email "circle-ci@$GITHUB_ORG.io"
            git config --global user.name "circle-ci"
            npm version patch -m "Bumped version to %s [ci skip]"
            git push -u origin ${CIRCLE_BRANCH} && git push --tags
      - run:
          name: Publish to npm
          command: npm publish

workflows:
  version: 2
  build_and_publish_package:
    jobs:
      - build:
          context:
            - npm-global
      - approval:
          type: approval
          requires:
            - build
          filters:
            branches:
              only: main
      - publish:
          name: publish
          requires:
            - approval
          context:
            - slack
            - npm-global
